<h1 class = "mini_title">About Us</h1>

<div class="container">
    <div class="description">
        <p class="card">We specialize in courses focusing on the Networking side of coding.</p>
    </div>
</div>