<h1 class="mini_title">Available Courses</h1>

<div class="container">
  <div>
    <% @courses.each do |c| %>
      <p><%=link_to c.name, course_path(c), class:"description card"%> </p>
    <% end %>
  </div>
</div>
