<h1 class="mini_title">My Courses</h1>

<div class="container">
  <div class="description">
    <% @courses.each do |c| %>
      <p><%=link_to c.name, new_courses_student_path(c), class:"description card"%></p>
    <% @registered = @selection.find_by(course_id: c.id) %>
      <%if @registered%>
          <div class="status card"> Enrolled </div>
      <%else%>
          <div class="status card"> Available </div>
    <% end end %>
  </div>
</div>
