<h1 class="mini_title">my courses</h1>

<div class="actions">
    <%= link_to "Add A Course", new_course_path, class: "back_button" %>
</div>

<div class="container">
  <div class="description">
    <% @courses.each do |c| %>
      <%if current_teacher.id == c.teacher_id%>
      <p><%=link_to c.name, teacher_course_path(c), class: "description card"%> </p>
    <% end end %>
  </div>
</div>

